* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: auto;
  padding: 0;
}

html {
  font-size: 100%;
  color: black;
  scroll-behavior: smooth;
}

body {
  background: #f1f0f0;
  background-image: url(sirdis1.png);
  background-size: 100%;
  background-position-x: -40%;
  background-position-y: 20%;
  background-repeat: repeat;
  margin-top: 100px;
}

header {
  margin: 10px;
  text-align: center;
}

@-webkit-keyframes heading-animation {
  0% {
    opacity: 0;
    -webkit-transform: translateY(20%);
            transform: translateY(20%);
    -webkit-transition: cubic-bezier(0.4, 0.38, 0.3, 1.11);
    transition: cubic-bezier(0.4, 0.38, 0.3, 1.11);
  }
  50% {
    opacity: 0.6;
  }
  100% {
    opacity: 1;
  }
}

@keyframes heading-animation {
  0% {
    opacity: 0;
    -webkit-transform: translateY(20%);
            transform: translateY(20%);
    -webkit-transition: cubic-bezier(0.4, 0.38, 0.3, 1.11);
    transition: cubic-bezier(0.4, 0.38, 0.3, 1.11);
  }
  50% {
    opacity: 0.6;
  }
  100% {
    opacity: 1;
  }
}

h1 {
  -webkit-animation-name: heading-animation;
          animation-name: heading-animation;
  -webkit-animation-play-state: running;
          animation-play-state: running;
  -webkit-animation-duration: 2s;
          animation-duration: 2s;
  margin-top: 30px;
  color: #00005c;
  font-size: 5rem;
  font-family: "Dancing Script", cursive;
  font-style: italic;
}

h2 {
  font-size: 1rem;
  font-family: "Source Sans Pro", sans-serif;
}

p {
  font-size: 1rem;
  font-family: "Source Sans Pro", sans-serif;
}

.poem-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  margin: 10px 50px;
  padding: 10px;
}

.search-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  background: rgba(192, 96, 161, 0.6);
  border-radius: 15px;
}

.search-wrapper .search-cards-div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: 10px;
}

.search-wrapper .search-cards-div .theme-card {
  background: lightcyan;
  border-radius: 15px;
  text-align: center;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  background-color: white;
  margin: 10px;
  padding: 5px 15px 5px 15px;
  cursor: pointer;
  min-width: 120px;
  padding: auto 10px aut0 10px;
  -webkit-transition: 0.5s ease;
  transition: 0.5s ease;
}

.search-wrapper .search-cards-div .theme-card:hover,
.search-wrapper .search-cards-div .theme-card:focus {
  -webkit-transform: translateY(-4px);
          transform: translateY(-4px);
  -webkit-transition: 0.5s ease;
  transition: 0.5s ease;
}

.clicked {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
  border: 1px solid black;
  pointer-events: none;
}

.results-wrapper {
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: min-content;
      grid-template-rows: -webkit-min-content;
      grid-template-rows: min-content;
  margin: 20px;
  -ms-grid-columns: 300px 300px 300px;
      grid-template-columns: 300px 300px 300px;
}

.results-wrapper .poem-card {
  border: 3px double #6a097d;
  -ms-grid-column-align: stretch;
      justify-self: stretch;
  margin: 20px 10px;
  padding: 10px;
  background-color: white;
}

.results-wrapper .poem-card .author {
  font-style: italic;
  margin-top: 10px;
}

.results-wrapper .poem-card .name {
  margin-bottom: 10px;
}

.results-wrapper .poem-card .btn-cont {
  text-align: center;
}

.results-wrapper .poem-card .heart-btn {
  background: lightcyan;
  border-radius: 15px;
  text-align: center;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  background-color: white;
  margin: 10px;
  padding: 5px 15px 5px 15px;
  cursor: pointer;
  border: 1px solid #6a097d;
  min-width: 80px;
}

.results-wrapper .poem-card .fa-heart {
  color: #6a097d;
}

.results-wrapper .poem-card .heart-btn:hover {
  -webkit-transform: translateY(-2px);
          transform: translateY(-2px);
  -webkit-transition: 0.2s ease;
  transition: 0.2s ease;
}

.results-wrapper .poem-card .heart-btn:active {
  border: 3px solid #6a097d;
  -webkit-transition: 0.2s all ease;
  transition: 0.2s all ease;
}

.results-wrapper .poem-card .heart-btn:active .fa-heart {
  -webkit-transform: scale(1.3);
          transform: scale(1.3);
  -webkit-transition: 0.2s all ease;
  transition: 0.2s all ease;
}

.open-liked {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  position: fixed;
  bottom: 20px;
  left: 30px;
  font-size: 1em;
  background-color: rgba(192, 96, 161, 0.6);
  color: white;
  padding: 10px;
  border-radius: 4px;
  width: 100px;
  text-align: center;
  cursor: pointer;
  -webkit-animation-name: flash;
          animation-name: flash;
  -webkit-animation-play-state: paused;
          animation-play-state: paused;
}

.open-liked:hover {
  background-color: #6a097d;
}

.saved-poem-div {
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: min-content;
      grid-template-rows: -webkit-min-content;
      grid-template-rows: min-content;
  margin: 20px;
  -ms-grid-columns: 300px 300px 300px;
      grid-template-columns: 300px 300px 300px;
}

.saved-poem-div .new-results {
  border: 3px double #6a097d;
  -ms-grid-column-align: stretch;
      justify-self: stretch;
  margin: 20px 10px;
  padding: 10px;
  background-color: white;
}

.saved-poem-div .btn-cont2 {
  text-align: center;
}

.saved-poem-div .remove-btn {
  background: lightcyan;
  border-radius: 15px;
  text-align: center;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  background-color: white;
  margin: 10px;
  padding: 5px 15px 5px 15px;
  cursor: pointer;
  border: 1px solid #6a097d;
  width: 50px;
  clear: both;
}

.saved-poem-div .remove-btn:hover {
  -webkit-transform: translateY(-4px);
          transform: translateY(-4px);
  -webkit-transition: 0.5s ease;
  transition: 0.5s ease;
}

.print-back-btn {
  background-color: rgba(192, 96, 161, 0.6);
  border-radius: 15px;
}

#back-btn,
#print-btn {
  background: lightcyan;
  border-radius: 15px;
  text-align: center;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  background-color: white;
  margin: 10px;
  padding: 5px 15px 5px 15px;
  cursor: pointer;
  border: none;
  min-width: 100px;
}

#back-btn:hover,
#print-btn:hover {
  -webkit-transform: translateY(-4px);
          transform: translateY(-4px);
  -webkit-transition: 0.5s ease;
  transition: 0.5s ease;
}

#scroll-btn {
  display: none;
  position: fixed;
  bottom: 20px;
  right: 30px;
  z-index: 99;
  font-size: 1.5rem;
  border: none;
  outline: none;
  background-color: rgba(192, 96, 161, 0.6);
  color: white;
  cursor: pointer;
  padding: 15px;
  border-radius: 4px;
}

#scroll-btn:hover {
  background-color: #6a097d;
}

.new {
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: min-content;
      grid-template-rows: -webkit-min-content;
      grid-template-rows: min-content;
  margin: 20px;
  -ms-grid-columns: 300px 300px 300px;
      grid-template-columns: 300px 300px 300px;
}

.display-none {
  display: none;
}

@media print {
  header,
  .print-back-btn,
  .btn-cont2,
  .open-liked {
    display: none;
  }
  .saved-poem-div .new-results {
    border: 1px solid #6e6e6e;
  }
  p {
    padding: 5px;
    font-size: 16pt;
  }
}
/*# sourceMappingURL=sass_style.css.map */