* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: auto;
  padding: 0;
}

html {
  color: black;
  scroll-behavior: smooth;
}

body {
  background: #f1f0f0;
  background-image: url(sirdis1.png);
  background-size: 100%;
  background-position-x: -50px;
  background-position-y: -160px;
  background-repeat: repeat;
  margin-top: 70px;
}

header {
  margin: 10px;
  text-align: center;
}

header h1 {
  -webkit-animation-name: heading-animation;
          animation-name: heading-animation;
  -webkit-animation-play-state: running;
          animation-play-state: running;
  -webkit-animation-duration: 1.5s;
          animation-duration: 1.5s;
  margin-top: 30px;
  color: #00005c;
  font-size: 74px;
  font-family: "Dancing Script", cursive;
  font-style: italic;
}

header .quote {
  text-align: center;
  font-family: "Dancing Script";
  font-size: 20px;
  color: #6a097d;
  -webkit-animation-name: quote;
          animation-name: quote;
  -webkit-animation-duration: 1.5s;
          animation-duration: 1.5s;
}

@-webkit-keyframes quote {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes quote {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-webkit-keyframes heading-animation {
  0% {
    opacity: 0;
    -webkit-transform: translateY(5%);
            transform: translateY(5%);
    -webkit-transition: cubic-bezier(0.4, 0.38, 0.3, 1.11);
    transition: cubic-bezier(0.4, 0.38, 0.3, 1.11);
  }
  50% {
    opacity: 0.6;
  }
  100% {
    opacity: 1;
  }
}

@keyframes heading-animation {
  0% {
    opacity: 0;
    -webkit-transform: translateY(5%);
            transform: translateY(5%);
    -webkit-transition: cubic-bezier(0.4, 0.38, 0.3, 1.11);
    transition: cubic-bezier(0.4, 0.38, 0.3, 1.11);
  }
  50% {
    opacity: 0.6;
  }
  100% {
    opacity: 1;
  }
}

h2 {
  font-size: 18px;
  font-family: "Source Sans Pro", sans-serif;
}

p {
  font-size: 18px;
  font-family: "Source Sans Pro", sans-serif;
}

.poem-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  margin: 10px 50px;
  padding: 10px;
}

.search-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  background: rgba(192, 96, 161, 0.6);
  border-radius: 4px;
}

.search-wrapper .search-cards-div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: 10px;
}

.search-wrapper .search-cards-div .theme-card {
  background: lightcyan;
  border-radius: 15px;
  text-align: center;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  background-color: white;
  margin: 10px;
  padding: 5px 15px 5px 15px;
  cursor: pointer;
  font-family: "Source Sans Pro", sans-serif;
  font-size: 18px;
  min-width: 120px;
  padding: auto 10px aut0 10px;
  -webkit-transition: 0.5s ease;
  transition: 0.5s ease;
}

.search-wrapper .search-cards-div .theme-card:hover,
.search-wrapper .search-cards-div .theme-card:focus {
  -webkit-transform: translateY(-4px);
          transform: translateY(-4px);
  -webkit-transition: 0.5s ease;
  transition: 0.5s ease;
}

.clicked {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
  border: 1px solid rgba(0, 0, 0, 0.6);
  pointer-events: none;
  font-weight: bold;
}

.results-wrapper {
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: min-content;
      grid-template-rows: -webkit-min-content;
      grid-template-rows: min-content;
  margin: 20px;
  -ms-grid-columns: 300px 300px 300px;
      grid-template-columns: 300px 300px 300px;
}

.results-wrapper .poem-card {
  border: 3px double #6a097d;
  -ms-grid-column-align: stretch;
      justify-self: stretch;
  margin: 20px 10px;
  padding: 10px;
  background-color: white;
}

.results-wrapper .poem-card .author {
  font-style: italic;
  margin-top: 10px;
}

.results-wrapper .poem-card .name {
  margin-bottom: 10px;
}

.results-wrapper .poem-card .btn-cont {
  text-align: center;
}

.results-wrapper .poem-card .heart-btn {
  background: lightcyan;
  border-radius: 15px;
  text-align: center;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  background-color: white;
  margin: 10px;
  padding: 5px 15px 5px 15px;
  cursor: pointer;
  border: 1px solid #6a097d;
  width: 50px;
}

.results-wrapper .poem-card .fa-heart {
  color: #6a097d;
}

.results-wrapper .poem-card .heart-btn:hover {
  -webkit-transform: translateY(-2px);
          transform: translateY(-2px);
  -webkit-transition: 0.2s ease;
  transition: 0.2s ease;
}

.results-wrapper .poem-card .heart-btn:active {
  border: 3px solid #6a097d;
  -webkit-transition: 0.2s all ease;
  transition: 0.2s all ease;
}

.results-wrapper .poem-card .heart-btn:active .fa-heart {
  -webkit-transform: scale(1.3);
          transform: scale(1.3);
  -webkit-transition: 0.2s all ease;
  transition: 0.2s all ease;
}

.open-liked {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  position: fixed;
  bottom: 20px;
  left: 30px;
  font-size: 14px;
  font-family: "Source Sans Pro", sans-serif;
  background-color: rgba(192, 96, 161, 0.6);
  color: white;
  padding: 10px;
  border-radius: 4px;
  width: 100px;
  text-align: center;
  cursor: pointer;
}

.open-liked:hover {
  background-color: #6a097d;
}

.animated-like {
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
  background-color: rgba(106, 9, 125, 0.8);
}

.saved-poem-div {
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: min-content;
      grid-template-rows: -webkit-min-content;
      grid-template-rows: min-content;
  margin: 20px;
  -ms-grid-columns: 300px 300px 300px;
      grid-template-columns: 300px 300px 300px;
}

.saved-poem-div .new-results {
  border: 3px double #6a097d;
  -ms-grid-column-align: stretch;
      justify-self: stretch;
  margin: 20px 10px;
  padding: 10px;
  background-color: white;
}

.saved-poem-div .btn-cont2 {
  text-align: center;
}

.saved-poem-div .remove-btn {
  background: lightcyan;
  border-radius: 15px;
  text-align: center;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  background-color: white;
  margin: 10px;
  padding: 5px 15px 5px 15px;
  cursor: pointer;
  border: 1px solid #6a097d;
  width: 50px;
  clear: both;
}

.saved-poem-div .remove-btn:hover {
  -webkit-transform: translateY(-4px);
          transform: translateY(-4px);
  -webkit-transition: 0.5s ease;
  transition: 0.5s ease;
}

.print-back-btn {
  background-color: rgba(192, 96, 161, 0.6);
  border-radius: 4px;
  font-size: 18px;
}

#back-btn,
#print-btn {
  background: lightcyan;
  border-radius: 15px;
  text-align: center;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  background-color: white;
  margin: 10px;
  padding: 5px 15px 5px 15px;
  cursor: pointer;
  border: none;
  min-width: 120px;
}

#back-btn:hover,
#print-btn:hover {
  -webkit-transform: translateY(-4px);
          transform: translateY(-4px);
  -webkit-transition: 0.5s ease;
  transition: 0.5s ease;
}

#scroll-btn {
  display: none;
  position: fixed;
  bottom: 20px;
  right: 30px;
  z-index: 99;
  font-size: 1.5rem;
  border: none;
  outline: none;
  background-color: rgba(192, 96, 161, 0.6);
  color: white;
  cursor: pointer;
  padding: 15px;
  border-radius: 4px;
}

#scroll-btn:hover {
  background-color: #6a097d;
}

.new {
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: min-content;
      grid-template-rows: -webkit-min-content;
      grid-template-rows: min-content;
  margin: 20px;
  -ms-grid-columns: 300px 300px 300px;
      grid-template-columns: 300px 300px 300px;
}

.display-none {
  display: none !important;
}

@media print {
  header,
  .print-back-btn,
  .btn-cont2,
  .open-liked {
    display: none;
  }
  .saved-poem-div .new-results {
    border: 1px solid #6e6e6e;
  }
  p {
    padding: 5px;
    font-size: 16pt;
  }
}

@media screen and (max-width: 1000px) {
  body {
    margin-top: 10px;
  }
  h1 {
    -webkit-animation: none;
            animation: none;
    font-size: 80px;
    margin-top: 30px;
  }
  p {
    font-size: 20px;
  }
  .search-cards-div {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    margin-bottom: 10px;
  }
  .search-cards-div .theme-card {
    min-width: 200px;
    padding: auto 10px auto 10px;
    margin-top: 10px;
    font-size: 22px;
  }
  .results-wrapper {
    display: -ms-grid;
    display: grid;
    -ms-grid-rows: min-content;
        grid-template-rows: -webkit-min-content;
        grid-template-rows: min-content;
    margin: 5px;
    -ms-grid-columns: 300px 300px;
        grid-template-columns: 300px 300px;
  }
  .results-wrapper .poem-card {
    margin: 5px 5px;
  }
  #scroll-btn {
    padding: 15px;
    right: 20px;
  }
  .open-liked {
    width: 54px;
    height: 58px;
    left: 20px;
    padding: 15px;
  }
  .open-liked .full-txt {
    display: none;
  }
  .saved-poem-div {
    display: -ms-grid;
    display: grid;
    -ms-grid-rows: min-content;
        grid-template-rows: -webkit-min-content;
        grid-template-rows: min-content;
    margin: 20px;
    -ms-grid-columns: 300px 300px;
        grid-template-columns: 300px 300px;
  }
  .print-back-btn {
    width: 220px;
    text-align: center;
  }
  .print-back-btn #print-btn {
    display: none;
  }
  .print-back-btn #back-btn {
    width: 150px;
  }
}

@media screen and (max-width: 600px) {
  body {
    margin-top: 10px;
  }
  header {
    margin: 10px;
    text-align: center;
  }
  header h1 {
    -webkit-animation: none;
            animation: none;
    margin-top: 30px;
    font-size: 50px;
  }
  header .quote {
    font-size: 15px;
    -webkit-animation: none;
            animation: none;
  }
  .search-cards-div {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
    width: 250px;
  }
  .search-cards-div .theme-card {
    width: 210px;
    padding: auto 10px auto 10px;
    margin-top: 10px;
  }
  .results-wrapper {
    display: -ms-grid;
    display: grid;
    -ms-grid-rows: min-content;
        grid-template-rows: -webkit-min-content;
        grid-template-rows: min-content;
    margin: 5px;
    -ms-grid-columns: 300px;
        grid-template-columns: 300px;
  }
  .results-wrapper .poem-card {
    margin: 5px 10px;
  }
  #scroll-btn {
    padding: 10px;
    right: 10px;
  }
  .open-liked {
    width: 44px;
    height: 48px;
    left: 10px;
  }
  .open-liked .full-txt {
    display: none;
  }
  .saved-poem-div {
    display: -ms-grid;
    display: grid;
    -ms-grid-rows: min-content;
        grid-template-rows: -webkit-min-content;
        grid-template-rows: min-content;
    margin: 20px;
    -ms-grid-columns: 300px;
        grid-template-columns: 300px;
  }
  .print-back-btn {
    width: 220px;
    text-align: center;
  }
  .print-back-btn #print-btn {
    display: none;
  }
  .print-back-btn #back-btn {
    width: 150px;
  }
  #scroll-btn:hover {
    background-color: rgba(192, 96, 161, 0.6);
  }
}
/*# sourceMappingURL=sass_style.css.map */