* {
  box-sizing: border-box;
  margin: auto;
  padding: 0;
}

html {
  font-size: 100%;
}

body {
  background-color: #f4f9f9;
}

header {
  margin: 10px;
  text-align: center;
}

h1 {
  font-size: 3.5rem;
  font-family: "Cabin", sans-serif;
  font-style: italic;
  color: #f1d1d0;
}

h2 {
  font-size: 1.5rem;
  margin-top: 10px;
}

h3 {
  font-size: 1.5rem;
  margin: 5px;
  color: #132c33;
}

p {
  font-size: 1.2rem;
}

.poem-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 10px 50px;
  padding: 10px;
}

.search-wrapper {
  border-radius: 15px;
  background-color: #fbaccc;
  flex-wrap: wrap;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: fit-content;
}

.search-cards-div {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin: 10px;
}

.search-cards-div .theme-card {
  border-radius: 15px;
  text-align: center;
  height: fit-content;
  min-width: 100px;
  border: 1px solid black;
  background-color: rgb(255, 255, 255);
  margin: 10px;
  padding: 5px;
  cursor: pointer;
}

.theme-card:hover {
  background-color: lightgray;
}

.clicked {
  font-weight: bold;
}

.results-wrapper {
  display: grid;
  grid-template-columns: 300px 300px;
  grid-template-rows: min-content;
  /* display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  width: fit-content; */
  margin: 20px;
}

.results-wrapper .poem-card {
  border: 3px double #f875aa;
  justify-self: stretch;

  /* flex-basis: content;
  height: fit-content;
  max-width: 50vw;
  display: flex;
  flex-direction: column;
  align-items: center; */

  margin: 20px 10px;
  padding: 5px;
}

.poem-card .author {
  font-style: italic;
  margin-top: 5px;
}

.heart-btn {
  font-size: 1rem;
  color: #f875aa;
  padding: 5px;
  margin: 10px;
  align-self: flex-start;
}

.hidden {
  visibility: hidden;
}

.saved-container {
  display: flex;
  flex-direction: column;
  position: fixed;
  top: 40vh;
  right: 5vw;
  width: 200px;
  height: 300px;
  overflow-y: auto;
  border: 2px solid blue;
  padding: 5px;
  margin: 20px;
  font-size: 0.8rem;
}

.saved-poem-div {
  margin: 2px;
  padding: 2px;
}

.saved-poem-div:nth-child(odd) {
  background-color: rgb(248, 119, 171, 0.3);
}
.saved-poem-div:nth-child(even) {
  background-color: rgb(248, 119, 171, 0.2);
}

#remove-btn {
  float: right;
}

#open-btn {
  align-self: flex-end;
  width: 150px;
  margin-bottom: 10px;
}

.test {
  padding: 5px;
  margin: 20px;
  border: 1px solid black;
}

.new {
  display: grid;
  grid-template-columns: 300px 300px;
  grid-template-rows: min-content;
}

.new-results {
  border: 3px double #f875aa;
  background: white;
  margin: 20px 10px;
  padding: 5px;
  min-height: 100px;
}

@media screen and (max-width: 800px) {
  .poem-wrapper {
    margin: 10px 30px;
  }
  .search-cards-div .theme-card {
    margin: 2px;
    max-width: 70vw;
  }
  h1 {
    font-size: 3rem;
  }

  h2 {
    font-size: 1.2rem;
  }

  h3 {
    font-size: 1.2rem;
  }

  p {
    font-size: 1rem;
  }
}

@media screen and (max-width: 650px) {
  .search-cards-div .theme-card {
    margin: 2px;
    max-width: 80vw;
  }
}

@media screen and (max-width: 450px) {
  header {
    margin: 2px;
  }
  .poem-wrapper {
    margin: 5px 0;
    padding: 0;
  }

  .search-cards-div {
    flex-direction: column;
  }

  .search-cards-div .theme-card {
    margin: 2px;
    max-width: 90vw;
  }

  h1 {
    font-size: 2rem;
  }
  h2 {
    font-size: 1rem;
  }

  h3 {
    font-size: 1rem;
  }

  p {
    font-size: 1rem;
  }
}
