* {
  box-sizing: border-box;
  margin: auto;
  padding: 0;
}

header {
  margin: 10px;
}

.poem-wrapper {
  border: 2px solid greenyellow;
  width: 60vw;
  min-height: 300px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
  margin-bottom: 20px;
  padding: 10px;
}

.search-form-div {
  border: 2px solid rgb(255, 102, 0);
  margin: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 20px;
}

button {
  margin: 10px;
}

.test {
  color: lightgray;
}

.results-container {
  border: 2px solid rgb(101, 111, 245);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.poem-card {
  border: 2px solid red;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 30vw;
  margin: 10px;
  padding: 5px;
}

.name {
  border: 2px solid yellow;
}

.poem {
  border: 2px solid rgba(255, 255, 0, 0.568);
}

.hidden {
  visibility: hidden;
}
